.Befores, .Success, .warnings, .Errors, .validations {
border: 1px solid;
margin: 10px 0px;
padding:15px 10px 15px 50px;
background-repeat: no-repeat;
background-position: 10px center;
}
.Befores {
color: #00529B;
background-color: #BDE5F8;
background-image: url('info.png');
}
.Success {
color: #4F8A10;
background-color: #DFF2BF;
background-image:url('success.png');
}
.warnings {
color: #9F6000;
background-color: #FEEFB3;
background-image: url('warning.png');
}
.Errors {
color: #D8000C;
background-color: #FFBABA;
background-image: url('error.png');
}


.before, .sucess, .ojo, .error, .validation {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
    text-align:left;
    width:auto;
}
.diventas,.diventascuerpo{
        border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
    text-align:left;
    width:auto;
}
.diventas {
    width: 85%; 
    float: right;
    color: white;
    background-color: #347AB7;
    background-image: url('../img/info.jpg');
}

.diventascuerpo {
    width: 85%; 
    float: right;
    background-color: white;
}
.before {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../img/info.jpg');
}
.sucess {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../img/correcto.JPG');
}
.ojo {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../img/ojo.JPG');
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../img/error.jpg');
}