#page {
    margin:0px auto;
    width:100%;
}
#menu {
    float:left;
    width:100%;
    height:40px;
    background-color:#222222;
    z-index:9999;
    margin-top:40px;
}

#menu li {
    float:left;
    list-style:none;
    height:40px;
    position:relative;
    text-align:center;
}

#menu li a {
    background-color: #222222;
    color: #FFFFFF;
    float: left;
    height: 30px;
    overflow: hidden;
    padding: 5px 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    z-index: 1;
}
#menu li a:hover {
    color:white;
    background-color: #222222;
    text-decoration:none;
}

#menu li img {
    bottom:0px;
    left:0px;
    position: absolute;
    z-index:0;
}

#menu li #fecha{
    float: right;
    color:white;
}



ul.menu li.active{  
    display: block;  
    color: #8c8c8c;  
    font-size: 14px;  
    padding: 12px;  
    color: #555;  
    border-top: 1px solid #313131;  
    border-radius: 4px;  
    -moz-border-radius: 4px;  
    -webkit-border-radius: 4px;  
}  
ul.menu li.active span{  
    background: transparent url("dropdown.png") no-repeat scroll rightright center;  
    padding-right: 24px;  
    color: #8c8c8c;  
}